{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Modifier une salle - Gestion Réservation{% endblock %}

{% block body -%}
    <h1>Modifier une salle</h1>

    {{ form(edit_form) }}
    
    {% if salle.image is not null %}
		<img src="{{ salle.image.getWebPath }}" />
	{% endif %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservationbundle_salles') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
