{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Accueil - Gestion Réservation{% endblock %}

{% block menu %}index{% endblock %}

{% block body %}
<h1 class="text-center">Sytème de gestion des réservations de salles</h1>
{% endblock %}
