{% extends 'mainBundle:Main:layout.html.twig' %}

{% block title %}Détails salle - Gestion Réservation{% endblock %}

{% block body %}
<h1>OK !</h1>
<p>Votre salle a été réservée !</p>
<p>Un mail de confirmation vient d'être envoyé à </p>
{% endblock %}
